<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="h-full w-full bg-zinc-900 text-white flex flex-col items-center justify-center">
          <h1 class="text-3xl mb-6 tracking-tighter text-center">Create User</h1>
       <form action="/create" method="post" class="bg-zinc-800 px-4 py-3 rounded-xl w-80 space-y-5">
      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium" for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter your name"
          class="px-4 py-3 rounded-lg bg-transparent border-2 border-zinc-300 placeholder:text-zinc-300 focus:outline-none focus:border-white"
        >
        </div>
      <div class="flex flex-col gap-2">
        <label class="text-sm font-medium" for="email">Email</label>
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          class="px-4 py-3 rounded-lg bg-transparent border-2 border-zinc-300 placeholder:text-zinc-300 focus:outline-none focus:border-white"
        >
       </div>
        <div class="flex flex-col gap-2">
        <label class="text-sm font-medium" for="image">image</label>
        <input
          type="text"
          name="image"
          placeholder="image url"
          class="px-4 py-3 rounded-lg bg-transparent border-2 border-zinc-300 placeholder:text-zinc-300 focus:outline-none focus:border-white"
        >
       </div>
      <input type="submit" class="w-full mt-8 bg-white text-zinc-900 py-3 rounded-lg font-semibold">
      </form>
      <div class="nav mt-5">
        <a class="text-blue-500 text-lg bg-zinc-900 px-10 py-2 rounded-xl hover:bg-zinc-700" href="/read">View Users</a>
      </div>
      </div>

</body>
</html>